body,html{
	margin:0px;
	padding:0px;
}

span.exitlk,.get-present{
    display: inline-block;
    background: red;
    width: 150px;
    padding: 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
	margin: 10px;
}
.get-present{
	background:green;
}
.mypresents {
    display: block;
    margin: 10px;
}
.mypresents-block {
    font-size: 14px;
    padding: 10px;
    padding-left: 0px;
    border-bottom: 1px solid #ccc;
    display: block;
}
.mypresents-inline {
    display: inline-block;
    width: 150px;
}
.mypresents-inline.converpoints, .mypresents-inline.cancelpresent{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.mypresents-inline.cancelpresent{
	color:red;
}
.auth{
	display:block;
	margin:10px;
}
.auth input {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}
span.okauth, span.okreg{
    display: block;
    margin-bottom: 10px;
    background: green;
    width: 150px;
    padding: 10px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}